extends layout

block content
  h2 The #{title}

  p The collection currently has the following record counts: 

  ul
    li #[strong Games:] !{game_count}
    li #[strong Developers:] !{developer_count}
    li #[strong Genres:] !{genre_count}
    li #[strong Platforms:] !{platform_count}