extends layout

block content
  div(class="p-3 collection")
    h1 The #{title}
    hr
    p Here you can see an overall view of the collection and its records

    p The collection currently has the following record counts: 

    ul
      li(class="mb-1") #[strong Games:] !{game_count}
      li(class="mb-1") #[strong Developers:] !{developer_count}
      li(class="mb-1") #[strong Genres:] !{genre_count}
      li(class="mb-1") #[strong Platforms:] !{platform_count}