extends layout

block content
  div(class="p-4 main-container")
    h1= title
    hr
    ul(class="d-flex flex-wrap game-list")
      each game, index in game_list
        li(class="text-center cascade-fade-in game-card" style=`--delay:${index + 1}`)
          a(href=game.url) 
            img(src=`/images/${game.image}` alt="game image")
            div(class="p-2")
              p(class="capitalise") #[strong #{game.name}]
              p(class="capitalise") - #{game.developer.name} -

      else
        li There are no games here! Be the first to create one.