extends layout

block content
  div(class="p-4 main-container")
    div(class="mt-3 game-detail")
      div
        img(src=(game.image==='' ? '/images/default-image.jpg' : game.image) alt="game image")
      div(class="text-center game-info")
        p(class="game-title") #[strong #{title}]
        p #{game.description}
        p #[strong Price: ]
          if game.price > 0
            span £#{game.price}
          else
            span Free
        p #[strong Number in stock: ]
          if game.number_in_stock > 0
            span #{game.number_in_stock}
          else
            span Sold out
        p #[strong Initial release date:] #{game.release_date_formatted}
        p #[strong Developer:] #[a(href=game.developer.url) #{game.developer.name}]
        p #[strong Genres: ]
          if game.genre.length
            each genre in game.genre
              a(href=genre.url class="mr-2") #{genre.name}
          else
            span None
        p #[strong Platforms: ]
          if game.platform.length
            each platform in game.platform
              a(href=platform.url class="mr-2") #{platform.name}
          else
            span None